<div class="container text-center">
  <%= image_tag "sun.png", class:"game-sun-image" %>
  <p class="timer border border-3 rounded border-dark mt-5 fixed-top">
    <span id="sec"></span>
  </p>
  <p class="counter">
    <span id="press-button">0</span>cm
  </p>
  <div id="countdown"></div>
    <div class="tsuika100">
      <%= image_tag "tsuika_kakigoori.png", class: "tsuila-kakigoori-img" %>
    </div>
    <div class="tsuika90">
      <%= image_tag "tsuika_kakigoori.png", class: "tsuila-kakigoori-img" %>
    </div>
    <div class="tsuika80">
      <%= image_tag "tsuika_kakigoori.png", class: "tsuila-kakigoori-img" %>
    </div>
    <div class="tsuika70">
      <%= image_tag "tsuika_kakigoori.png", class: "tsuila-kakigoori-img" %>
    </div>
    <div class="tsuika60">
      <%= image_tag "tsuika_kakigoori.png", class: "tsuila-kakigoori-img" %>
    </div>
    <div class="tsuika50">
      <%= image_tag "tsuika_kakigoori.png", class: "tsuila-kakigoori-img" %>
    </div>
    <div class="tsuika40">
      <%= image_tag "tsuika_kakigoori.png", class: "tsuila-kakigoori-img" %>
    </div>
    <div class="tsuika30">
      <%= image_tag "tsuika_kakigoori.png", class: "tsuila-kakigoori-img" %>
    </div>
    <div class="tsuika20">
      <%= image_tag "tsuika_kakigoori.png", class: "tsuila-kakigoori-img" %>
    </div>
    <div class="tsuika10">
      <%= image_tag "tsuika_kakigoori.png", class: "tsuila-kakigoori-img" %>
    </div>
  <div class="kakigoori">
    <%= image_tag "kakigoori.png", class: "kakigoori-img" %>
  </div>
  <div class="table"></div>
  <div class="button fixed-bottom"></div>
  <div class="click-button fixed-bottom"></div>
</div>

<%= javascript_pack_tag "game" %>