<div id="inputnumber" data-month-id="<%= @convert_month %>" data-day-id="<%= @convert_day %>" class="birthday-display">
<%= @convert_month %>月
<%= @convert_day %>日
</div>

<%= javascript_pack_tag "birthday_slot" %>