あなたの誕生日を入力しましょう！

<div class="birthday-form">
  <%= form_with url: birthdays_path, scope: :q do |f| %>
  <%= f.date_select(:birthday, order:[:year,:month,:day], use_month_numbers:true, discard_year:true, date_separator:" / ") %>
  <%= f.submit "登録", class: "btn btn-danger" %>
  <% end %>
</div>
<div id="js-new-birthday">
  <% if @birthday.present? %>
    <%= render @birthday, birthday: @birthday %>
  <% end %>
</div>
<div class="birthday-update">
  <%= button_to "戻る", root_path, method: :get %>
</div>
<br>
<br>  
<button type="button" id="start">start</button>
<div class="birthday">
  <div>
    <input type="text" id="month01">
    <button type="button" id="b1">stop</button>
  </div>
  <div>
    <input type="text" id="month02">
    <button type="button" id="b2">stop</button>
  </div>
  <div>
    <input type="text" id="day01">
    <button type="button" id="b3">stop</button>
  </div>
  <div>
    <input type="text" id="day02">
    <button type="button" id="b4">stop</button>
  </div>
</div>
<p>いえーーーーーーーーい</p>
<p>いえーい</p>
<div id="<%= @num %>"></div>
<div id="<%= @birthday_number %>"></div>


<%= javascript_pack_tag "birthday_slot" %>