<div class="container">
<div class="text-center">

<h1>あなたの誕生日を入力しましょう！</h1>

<div class="birthday-form">
  <%= form_with url: birthdays_path, scope: :q do |f| %>
  <%= f.date_select(:birthday, order:[:year,:month,:day], use_month_numbers:true, discard_year:true, date_separator:" / ", with_css_classes: "select-birth") %>
  <%= f.submit "登録", class: "set-birthday-btn" %>
  <% end %>
</div>
<div id="js-new-birthday">
</div>
<div class="birthday-update">
  <%= button_to "戻る", root_path, method: :get %>
</div>

<%= image_tag "1-min", size: "600x400", class: "cake" %>

<div class="js-slot-button">
  <button type="button" id="start">start</button>
  <div class="birthday">
    <div>
      <input type="text" id="month01">
      <button type="button" id="b1">stop</button>
    </div>
    <div>
      <input type="text" id="month02">
      <button type="button" id="b2">stop</button>
    </div>
    <div>
      <input type="text" id="day01">
      <button type="button" id="b3">stop</button>
    </div>
    <div>
      <input type="text" id="day02">
      <button type="button" id="b4">stop</button>
    </div>
    </div>
  </div>
</div>
</div>

<%= javascript_pack_tag "birthday_slot" %>